article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*Clearfix*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
/*Box sizing*/
* {
  box-sizing: border-box; }

body {
  font-family: "Quicksand", "Lato", sans-serif;
  color: #2C3E50; }

@-webkit-keyframes background1Clear {
  0% {
    opacity: 1; }
  25% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes background1Clear {
  0% {
    opacity: 1; }
  25% {
    opacity: 0; }
  80% {
    opacity: 1; }
  100% {
    opacity: 1; } }
@-webkit-keyframes background2Clear {
  0% {
    opacity: 1; }
  35% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes background2Clear {
  0% {
    opacity: 1; }
  35% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes background3Clear {
  0% {
    opacity: 1; }
  55% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes background3Clear {
  0% {
    opacity: 1; }
  55% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes background4Clear {
  0% {
    opacity: 1; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes background4Clear {
  0% {
    opacity: 1; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes focus {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes focus {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes scan {
  0% {
    opacity: 0;
    bottom: 5px; }
  3% {
    opacity: 1;
    bottom: 5px; }
  19% {
    opacity: 1;
    bottom: 170px; }
  22% {
    opacity: 0;
    bottom: 170px; }
  100% {
    opacity: 0;
    bottom: 5px; } }
@keyframes scan {
  0% {
    opacity: 0;
    bottom: 5px; }
  3% {
    opacity: 1;
    bottom: 5px; }
  19% {
    opacity: 1;
    bottom: 170px; }
  22% {
    opacity: 0;
    bottom: 170px; }
  100% {
    opacity: 0;
    bottom: 5px; } }
@-webkit-keyframes touchEffect {
  20% {
    box-shadow: 0 0 0 0.6vh rgba(82, 179, 217, 0.3); }
  40% {
    box-shadow: 0 0 0 0.7vh rgba(82, 179, 217, 0.4); }
  60% {
    box-shadow: 0 0 0 0.8vh rgba(82, 179, 217, 0.4); }
  70% {
    box-shadow: 0 0 0 0.9vh rgba(82, 179, 217, 0.2); }
  100% {
    box-shadow: 0 0 0 0.9vh white; } }
@keyframes touchEffect {
  20% {
    box-shadow: 0 0 0 0.6vh rgba(82, 179, 217, 0.3); }
  40% {
    box-shadow: 0 0 0 0.7vh rgba(82, 179, 217, 0.4); }
  60% {
    box-shadow: 0 0 0 0.8vh rgba(82, 179, 217, 0.4); }
  70% {
    box-shadow: 0 0 0 0.9vh rgba(82, 179, 217, 0.2); }
  100% {
    box-shadow: 0 0 0 0.9vh white; } }
.wrapper {
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: relative;
  opacity: 1;
  z-index: 0; }
  .wrapper .background1 {
    width: 100vw;
    height: 100vh;
    background: -webkit-radial-gradient(#063752, #52B3D9);
    background: radial-gradient(#063752, #52B3D9);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: -1; }
  .wrapper .background2 {
    width: 100vw;
    height: 100vh;
    background: -webkit-radial-gradient(#361B4E, #BE90D4);
    background: radial-gradient(#361B4E, #BE90D4);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -2; }
  .wrapper .background3 {
    width: 100vw;
    height: 100vh;
    background: -webkit-radial-gradient(#460D08, #E74C3C);
    background: radial-gradient(#460D08, #E74C3C);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -3; }
  .wrapper .background4 {
    width: 100vw;
    height: 100vh;
    background: -webkit-radial-gradient(#532A09, #EB974E);
    background: radial-gradient(#532A09, #EB974E);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -4; }
  .wrapper .background5 {
    width: 100vw;
    height: 100vh;
    background: -webkit-radial-gradient(#063752, #52B3D9);
    background: radial-gradient(#063752, #52B3D9);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: -5; }
  .wrapper h1 {
    color: white;
    font-family: "Lato";
    font-weight: 700;
    letter-spacing: 0.5vw;
    font-size: 11.5vw;
    text-align: center;
    margin: 0; }
  .wrapper .cardArea {
    width: 65vw;
    z-index: 5; }
    .wrapper .cardArea .card {
      width: 15vw;
      height: 28vh;
      background: #fff;
      float: left;
      margin: 1vh 1.3vw;
      z-index: 5;
      text-align: center;
      position: relative;
      border-radius: 5px;
      -webkit-perspective: 800px;
      perspective: 800px;
      -webkit-transition: -webkit-transform 2s;
      transition: transform 2s;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d; }
    .wrapper .cardArea .flipped {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .wrapper .cardArea .front {
      height: 100%;
      width: 100%;
      position: absolute;
      border-radius: 5px; }
    .wrapper .cardArea .back {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-transform: rotateY 180deg;
      transform: rotateY(180deg);
      height: 100%;
      width: 100%;
      background: #fff;
      position: absolute;
      border-radius: 5px; }
    .wrapper .cardArea .scanInstructions {
      margin-top: 1vh;
      z-index: 3;
      font-size: 1.2vw;
      font-weight: 400; }
    .wrapper .cardArea .topRightCorner {
      width: 25px;
      height: 25px;
      border-top: 4px solid #52B3D9;
      border-right: 4px solid #52B3D9;
      position: absolute;
      right: 1.2vw;
      top: 3.4vh;
      opacity: 1; }
    .wrapper .cardArea .btmRightCorner {
      width: 25px;
      height: 25px;
      border-bottom: 4px solid #52B3D9;
      border-right: 4px solid #52B3D9;
      position: absolute;
      right: 1.2vw;
      bottom: 2.4vh;
      opacity: 1; }
    .wrapper .cardArea .btmLeftCorner {
      width: 25px;
      height: 25px;
      border-bottom: 4px solid #52B3D9;
      border-left: 4px solid #52B3D9;
      position: absolute;
      left: 1.2vw;
      bottom: 2.4vh;
      opacity: 1; }
    .wrapper .cardArea .topLeftCorner {
      width: 25px;
      height: 25px;
      border-top: 4px solid #52B3D9;
      border-left: 4px solid #52B3D9;
      position: absolute;
      left: 1.2vw;
      top: 3.4vh;
      opacity: 1; }
    .wrapper .cardArea .focus {
      -webkit-animation: focus 2s ease-in-out infinite;
              animation: focus 2s ease-in-out infinite; }
    .wrapper .cardArea .scanbar {
      position: absolute;
      width: 12vw;
      height: 0.5vh;
      border-radius: 5px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      bottom: 35px;
      background: #E74C3C;
      z-index: 30;
      -webkit-animation: scan 7s ease-in-out infinite;
              animation: scan 7s ease-in-out infinite; }
    .wrapper .cardArea .QRcode {
      position: absolute;
      left: 50%;
      top: 0;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      z-index: 10; }
    .wrapper .cardArea .webAddress {
      position: absolute;
      left: 50%;
      bottom: 3%;
      font-size: 1.2vw;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      font-weight: 300; }
    .wrapper .cardArea p {
      margin: 0; }
    .wrapper .cardArea .heartArea {
      position: absolute;
      width: 3vw;
      height: 3vw;
      right: 0.3vw;
      top: 0.3vw;
      background: url(../assets/images/heartGrey.svg);
      background-repeat: no-repeat;
      background-position: 80% 40%;
      opacity: 1;
      -webkit-transition: all 0.3s;
              transition: all 0.3s; }
    .wrapper .cardArea .liked {
      background: url(../assets/images/heartRed.svg);
      background-repeat: no-repeat;
      background-position: 80% 40%; }
    .wrapper .cardArea .name {
      width: 100%;
      height: 20px;
      font-size: 1.8vw;
      font-weight: 700;
      margin: 0.5vh 0; }
    .wrapper .cardArea .type {
      width: 100%;
      height: 20px;
      font-size: 1.3vw;
      font-weight: 400;
      padding: 1.4vh; }
    .wrapper .cardArea .location {
      width: 100%;
      height: 20px;
      font-size: 1.2vw;
      font-weight: 300;
      padding: 1vh; }
    .wrapper .cardArea img {
      margin-top: 4vh;
      width: 12vw;
      height: 12vw; }
    .wrapper .cardArea .touched {
      -webkit-animation: touchEffect .8s linear;
              animation: touchEffect .8s linear; }
    .wrapper .cardArea .card1 .imageArea {
      width: 9vw;
      height: 9vw;
      border-radius: 50%;
      margin: 0 auto;
      margin-top: 2vh;
      background: url(../assets/images/restaurant.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 9vw 9vw; }
    .wrapper .cardArea .card2 .imageArea {
      width: 9vw;
      height: 9vw;
      border-radius: 50%;
      margin: 0 auto;
      margin-top: 2vh;
      background: url(../assets/images/coffee.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 9vw 9vw; }
    .wrapper .cardArea .card3 .imageArea {
      width: 9vw;
      height: 9vw;
      border-radius: 50%;
      margin: 0 auto;
      margin-top: 2vh;
      background: url(../assets/images/burger.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 9vw 9vw; }
    .wrapper .cardArea .card4 .imageArea {
      width: 9vw;
      height: 9vw;
      border-radius: 50%;
      margin: 0 auto;
      margin-top: 2vh;
      background: url(../assets/images/coffee.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 9vw 9vw; }
    .wrapper .cardArea .card5 .imageArea {
      width: 9vw;
      height: 9vw;
      border-radius: 50%;
      margin: 0 auto;
      margin-top: 2vh;
      background: url(../assets/images/sushi.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 9vw 9vw; }
    .wrapper .cardArea .card6 .imageArea {
      width: 9vw;
      height: 9vw;
      border-radius: 50%;
      margin: 0 auto;
      margin-top: 2vh;
      background: url(../assets/images/noodles.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 9vw 9vw; }
  .wrapper .cardInstructions {
    width: 50vw;
    height: 12vh;
    margin-left: 1vw;
    margin-top: 3vh;
    float: left;
    text-align: center; }
    .wrapper .cardInstructions h2 {
      color: white;
      font-weight: 400;
      margin: 0;
      font-size: 2.5vw; }
  .wrapper .mapArea {
    width: 45vw;
    height: 57.5vh;
    position: absolute;
    right: 1vw;
    top: 26vh;
    overflow: hidden;
    border-radius: 5px; }
    .wrapper .mapArea google-map {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 5px; }
  .wrapper .gitHubWatermark {
    width: 5vw;
    height: 5vw;
    position: absolute;
    background: url(../assets/images/githubWatermark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5vw 5vw;
    bottom: 10px;
    right: 20px;
    opacity: 0.5; }
  .wrapper .cameronCodesWatermark {
    width: 5vw;
    height: 5vw;
    position: absolute;
    background: url(../assets/images/watermarkCC.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5vw 5vw;
    bottom: 10px;
    right: 200px;
    opacity: 0.5; }

@media screen and (min-width: 1746px) {
  @-webkit-keyframes scan {
    0% {
      opacity: 0;
      bottom: 35px; }
    3% {
      opacity: 1;
      bottom: 35px; }
    19% {
      opacity: 1;
      bottom: 330px; }
    22% {
      opacity: 0;
      bottom: 330px; }
    100% {
      opacity: 0;
      bottom: 35px; } }
  @keyframes scan {
    0% {
      opacity: 0;
      bottom: 35px; }
    3% {
      opacity: 1;
      bottom: 35px; }
    19% {
      opacity: 1;
      bottom: 330px; }
    22% {
      opacity: 0;
      bottom: 330px; }
    100% {
      opacity: 0;
      bottom: 35px; } } }
@media screen and (min-width: 3840px) {
  @-webkit-keyframes scan {
    0% {
      opacity: 0;
      bottom: 35px; }
    3% {
      opacity: 1;
      bottom: 35px; }
    19% {
      opacity: 1;
      bottom: 330px; }
    22% {
      opacity: 0;
      bottom: 330px; }
    100% {
      opacity: 0;
      bottom: 35px; } }
  @keyframes scan {
    0% {
      opacity: 0;
      bottom: 35px; }
    3% {
      opacity: 1;
      bottom: 35px; }
    19% {
      opacity: 1;
      bottom: 330px; }
    22% {
      opacity: 0;
      bottom: 330px; }
    100% {
      opacity: 0;
      bottom: 35px; } } }
